[class*='container'] 
    .debug{
    background-color: aqua;
    border: 1px dashed black;
}
            
/*$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) */

header{
    height: 90px;
    background-color: #2b3e50;
}

ul li{
    list-style: none;
}

ul li a{
    color: white;
    text-decoration: none;
}